name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: server
        run: npm install

      - name: Start server (basic check)
        working-directory: server
        run: |
          npm start &
          sleep 5
